html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

main {
  margin: 2rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#listmainmargin {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.landingphoto {
  background-image: url("media/landingphoto.png");
  height: 896px;
  border-bottom: 1px solid #707070;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.logo {
  width: 9rem;
  margin-left: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 2;
  border-bottom: 1px solid #707070;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #313532;
}

.navflex {
  margin-top: 1rem;
  display: flex;
}

.searchicon {
  width: 1.3rem;
  margin-right: 0.5rem;
}

.carticon {
  width: 1.1rem;
}

ul {
  list-style-type: none;
  margin-right: 1rem;
}

h1 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shopnow {
  text-decoration: none;
  color: #ffffff;
  padding: 0.6rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: #313532;
  text-align: center;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a.shopnow:hover {
  color: #313532;
  background-color: #ffffff;
  border: 2px solid #313532;
}

a.shopnow:active {
  color: #313532;
  background-color: #e7e7e7;
  border: 2px solid #313532;
}

.shopnow2 {
  text-decoration: none;
  padding: 0.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  text-align: center;
  color: #313532;
  border: 2px solid #313532;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a.shopnow2:hover {
  color: #ffffff;
  background-color: #313532;
}

a.shopnow2:active {
  color: #ffffff;
  background-color: #4a4d4b;
}

.space {
  margin-bottom: 4rem;
}

.buttonquote {
  text-align: center;
  position: relative;
  top: 10rem;
}

.secondparthp {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.mainh2 {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #707070;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.thirdparthp {
  text-align: center;
  margin-bottom: 7rem;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  padding-bottom: 5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.handsphoto {
  background-repeat: no-repeat;
  margin: 0 auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.video {
  border-bottom: 1px solid #707070;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-top: 4rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 1.1rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  line-height: 2rem;
}

.onepiece {
  text-align: center;
  align-items: center;
}

.productimg {
  width: 18.5rem;
}

.vishnubrahma {
  font-size: 1.2rem;
  margin-top: 0;
  border-bottom: 0;
  margin-bottom: 0.5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.vishnubrahmaview {
  font-size: 1.8rem;
  margin-top: 0;
  border-bottom: 0;
  margin-bottom: 0.5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.category {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.categoryview {
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1rem;
  border-bottom: 1px solid #707070;
}

.price {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.priceview {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.theprotector {
  text-align: center;
  padding-top: 0rem;
  border-bottom: 1px solid #707070;
  padding-bottom: 6rem;
}

.protecth3 {
  font-size: 2.2rem;
  margin-top: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.protecth2 {
  font-size: 2rem;
  border-bottom: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.protectprice {
  font-size: 1.4rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.protectimg {
  width: 24rem;
}

.lastpart {
  text-align: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
  border-bottom: 1px solid #707070;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #313532;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
}

footer li {
  font-size: 0.7rem;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #313532;
}

.igicon {
  width: 1.8rem;
}

.fbicon {
  width: 1.3rem;
  margin-top: 0.25rem;
}

.some {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

ul.some {
  margin: 0 auto;
  grid-column: 3;
  padding-left: 0;
  margin-inline-start: 0px;
}

.cardicon {
  width: 1.2rem;
}

.mail {
  font-size: 0.7rem;
  margin-left: 0;
  margin-right: 0;
  line-height: normal;
}

h6 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sign {
  font-size: 0.5rem;
  margin: 0 auto;
  align-items: end;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}

.imgproductlist {
  background-image: url("media/imgproductlist_mobile.png");
  width: 414px;
  height: 355px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.shopallinfo {
  text-align: center;
  margin-top: 0;
  padding-top: 1.7rem;
  color: #ffffff;
  font-size: 0.9rem;
}

.hallmarkschart {
  font-size: 2rem;
}

.imgcharts {
  max-width: 100%;
  text-align: center;
}

.goldphoto .silverphoto {
  max-width: 100%;
}

.viewinfo p {
  margin-left: 0;
  font-size: 1.5rem;
}

.viewinfo ul li {
  font-size: 1.3rem;
}

.lastinfo p {
  margin-left: 0;
  font-size: 1.3rem;
}

button {
  color: #3b3b3b;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  border: 1px solid #707070;
  font-size: 1rem;
}

.buttonsgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.addtocart {
  grid-column: 1 / span 2;
  background-color: #313533;
  color: #ffffff;
}

.addtocart:hover {
  color: #3b3b3b;
  background-color: #ffffff;
}

.addtocart:active {
  color: #3b3b3b;
  background-color: #dedede;
}

.aboutphoto1 {
  background-image: url("media/aboutphoto1_mobile.png");
  width: 414px;
  height: 600px;
}

.aboutphoto1bg {
  padding: 0.2rem;
  background-color: #ffffff;
  margin: 2rem;
  margin-top: 0;
  position: relative;
  top: 3.5rem;
}

.aboutphoto2bg {
  padding: 0.2rem;
  background-color: #ffffff;
  margin: 2rem;
  margin-top: 0;
  position: relative;
  top: 1.8rem;
}

.aboutphoto3bg {
  padding: 0.2rem;
  background-color: #ffffff;
  margin: 2rem;
  margin-top: 0;
  position: relative;
  top: 11rem;
}

.aboutphoto4bg {
  padding: 0.2rem;
  background-color: #ffffff;
  margin: 2rem;
  margin-top: 0;
  position: relative;
  top: 11rem;
}

.aboutphoto2 {
  background-image: url("media/aboutphoto2_mobile.png");
  width: 414px;
  height: 600px;
}

.aboutphoto3 {
  background-image: url("media/aboutphoto3_mobile.png");
  width: 414px;
  height: 600px;
}

.aboutphoto4 {
  background-image: url("media/aboutphoto4_mobile.png");
  width: 414px;
  height: 600px;
}

@media (min-width: 1024px) {
  .landingphoto {
    background-image: url("media/landingphoto_1920px.png");
    height: 1080px;
  }
  .logo {
    width: 15rem;
    margin-left: 1rem;
    text-align: right;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #707070;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  header nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.2rem;
  }

  .searchicon {
    width: 2.7rem;
    margin-right: 2.5rem;
  }

  .carticon {
    width: 2.1rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .shopnow {
    font-size: 2rem;
  }
  .buttonquote {
    text-align: center;
    position: relative;
    top: 8rem;
    width: 800px;
    left: 55%;
  }

  .mainh2 {
    font-size: 4rem;

    margin-left: 30%;
    margin-right: 30%;
  }
  .secondparthpgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12rem;
  }

  h3 {
    font-size: 2.8rem;
    margin-top: 5rem;
  }

  p {
    font-size: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 4rem;
  }

  .productimg {
    width: 30rem;
  }

  .vishnubrahma {
    font-size: 2.6rem;
  }

  .category {
    font-size: 2.5rem;
  }

  .price {
    font-size: 2.3rem;
  }
  .thirdparthp {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 0;
  }

  .lastpart {
    padding-top: 5rem;
  }

  .shopnow2 {
    font-size: 2rem;
  }

  footer li {
    font-size: 1.2rem;
  }
  .igicon {
    width: 2.2rem;
  }

  .fbicon {
    width: 1.7rem;
    margin-top: 0.25rem;
  }
  div.some {
    margin-bottom: 1.5rem;
  }
  .cardicon {
    width: 1.5rem;
  }

  .mail {
    font-size: 1.2rem;
    margin-left: 0;
    margin-right: 0;
    line-height: normal;
  }

  h6 {
    font-size: 1.1rem;
  }

  .sign {
    font-size: 0.9rem;
    margin: 0 auto;
    align-items: end;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
  }

  .theprotector {
    text-align: left;
    padding-top: 0.5rem;

    padding-bottom: 4rem;
  }

  .protecth3 {
    font-size: 2.5rem;
    margin-top: 0;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .protecth2 {
    font-size: 2.6rem;
    border-bottom: 0;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .protectprice {
    font-size: 2.3rem;
  }

  .protectimg {
    width: 30rem;
  }

  .imgproductlist {
    background-image: url("media/imgproductlist_desktop.png");
    width: 1920px;
    height: 600px;
    margin: 0 auto;
  }
  .shopallinfo {
    padding-top: 4.5rem;
    color: #ffffff;
    font-size: 1.7rem;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .landingphoto {
    background-image: url("media/landingphoto_601px.png");
    height: 962px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
}
